.app-wrapper {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: 
  "h h"
  "n c";
  width: 1200px;
  margin: 0px auto
}
.logo{
  width: 45px;
  height: 45px;
}
.header{
  grid-area: h;
  background-color: grey

}
.nav{
  grid-area: n;
  background-color:greenyellow
}

.content{
  grid-area: c;
  background-color:aquamarine
}
.content img{
  width: 600px;
}